@mixin delayedDisplay-5s {
  animation: delayedDisplay 5s;

  @keyframes delayedDisplay {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100%;
    }
  }
}

@mixin delayedDisplay-3s {
  animation: delayedDisplay 3s;

  @keyframes delayedDisplay {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100%;
    }
  }
}

@mixin dogWalker {
  animation: dogWalkerMoving 5s ease 0s 1 normal none;

  @keyframes dogWalkerMoving {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

@mixin whiteFadeBottom {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 80%,
    rgba(255, 255, 255, 1) 99%
  );
}

@mixin rollDice {
  animation: myAnim 1.5s ease 0s infinite alternate forwards;

  @keyframes myAnim {
    0% {
      transform: translateX(-20px) rotate(-100deg);
    }

    100% {
      transform: translateX(20px) rotate(120deg);
    }
  }
}

@mixin pawprintsFadeIn1 {
  animation: pawprints 3s ease 0s 1 normal none;

  @keyframes pawprints {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 0.6;
    }
  }
}
@mixin pawprintsFadeIn2 {
  animation: pawprints 5s ease 0s 1 normal none;

  @keyframes pawprints {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 0.6;
    }
  }
}
