@mixin delayedDisplay-5s {
  animation: delayedDisplay 5s;

  @keyframes delayedDisplay {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100%;
    }
  }
}

@mixin delayedDisplay-3s {
  animation: delayedDisplay 3s;

  @keyframes delayedDisplay {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100%;
    }
  }
}

@mixin dogWalker {
  animation: dogWalkerMoving 5s ease 0s 1 normal none;

  @keyframes dogWalkerMoving {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
