$headingFont: "Boska", serif;
$mainFont: "Ranade", sans-serif;

$titleSizeForsmallScreen: 1.6rem;
$titleSizeForBigScreen: 3rem;

$textSizeForsmallScreen: 1.2rem;
$textSizeForBigScreen: 1.5rem;

$blue: rgba(172, 214, 248, 0.949);
$subduedBlue: rgba(80, 113, 142, 0.949);
$gold: #bb9106;
