@import "variables";
@import "mixins";
@import "hamburgermenu";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $mainFont;
}

section {
  padding: 50px 1rem 1rem 1rem;
  height: 100vh;
  /* border: 1px black solid; */
}

h3 {
  font-size: $titleSizeForsmallScreen;
}

p {
  font-size: $textSizeForsmallScreen;
}

//LANDINGPAGE-----------------------------
#wrapper {
  background-image: url(/assets/puppy.jpg);
  background-size: 190%;
  background-position: bottom;
  background-repeat: no-repeat;
  text-align: center;
  height: 100vh;

  #gradientOverlay {
    height: 100vh;
    width: 100%;
    background: rgb(255, 255, 255);
    @include whiteFadeBottom;
  }

  h1,
  h2 {
    font-family: $headingFont;
    font-size: 3rem;
  }

  h1 {
    padding-top: 4rem;
    @include delayedDisplay-3s;
  }
  h2 {
    @include glow;
    @include delayedDisplay-5s;
  }
}
//LANDINGPAGE-----------------------------

//WEATHERSECTION--------------------------
#weatherReport {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  h3 {
    color: $gold;
  }

  article {
    text-align: center;
    text-transform: capitalize;

    img {
      height: 120px;
    }
  }
}

.dogWalkerMoving {
  @include dogWalker;
}
//WEATHERSECTION--------------------------

//DOG GENERATOR SECTION-------------------
#dogGenerator {
  text-align: center;
  position: relative;

  video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
  }
}

#generateButton {
  padding: 0.3rem 3rem 0.3rem 3rem;
  margin: 0.9rem;
  cursor: pointer;
  background-color: $gold;
  box-shadow: 0px 0px 15px 2px rgb(76, 76, 76);
  border-style: none;
  border-radius: 50px;
  cursor: pointer;

  #diceImage {
    height: 50px;

    &:hover {
      @include rollDice;
    }
  }
}

#dogGeneratorContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  height: 70%;
  overflow: hidden;
}

.dogImage {
  height: 130px;
  border-radius: 5px;
}
//DOG GENERATOR SECTION-------------------

//MOVIE SECTION---------------------------
#movieSection {
  h3 {
    margin-bottom: 1rem;
  }
}

#movieContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;

  div {
    width: 45%;
    background-color: $blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: ease 0.5s;

    &:hover {
      box-shadow: 0px 5px 17px 2px rgba(8, 23, 51, 1);
    }
  }

  img {
    width: 90%;
    border-radius: 0.5rem;
    box-shadow: 0px 7px 14px -2px rgba(8, 23, 51, 1);
  }
}
//MOVIE SECTION---------------------------

/* MEDIAQUERY */
@media (min-width: 480px) {
  #wrapper {
    background-size: 170%;
  }
}

@media only screen and (min-width: 600px) {
  #wrapper {
    background-size: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  #wrapper {
    background-size: 80%;
  }
}

@media only screen and (min-width: 1200px) {
  #wrapper {
    background-size: 60%;
  }
}
