@import "variables";
@import "mixins";
@import "hamburgermenu";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $mainFont;
}

section {
  height: 100vh;
  border: 1px black solid;
}

p {
  font-size: $textSizeForsmallScreen;
}

//LANDINGPAGE-----------------------------
#wrapper {
  background-image: url(/assets/puppy.jpg);
  background-size: 190%;
  background-position: bottom;
  background-repeat: no-repeat;
  text-align: center;
  height: 100vh;

  #gradientOverlay {
    height: 100vh;
    width: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 85%,
      rgba(255, 255, 255, 1) 99%
    );
  }

  h1,
  h2 {
    font-family: $headingFont;
    font-size: 3rem;
  }

  h1 {
    padding-top: 4rem;
    @include delayedDisplay-3s;
  }
  h2 {
    @include glow;
    @include delayedDisplay-5s;
  }
}
//LANDINGPAGE-----------------------------

//WEATHERSECTION--------------------------
#weatherReport {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3 {
    font-size: $titleSizeForsmallScreen;
  }

  article {
    text-align: center;
    text-transform: capitalize;

    img {
      height: 120px;
    }
  }
}

.dogWalkerMoving {
  @include dogWalker;
}
//WEATHERSECTION--------------------------

//DOG GENERATOR SECTION-------------------
#dogGeneratorContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.dogImage {
  height: 100px;
}
//DOG GENERATOR SECTION-------------------

/* MEDIAQUERY */
@media (min-width: 480px) {
  #wrapper {
    background-size: 170%;
  }
}

@media only screen and (min-width: 600px) {
  #wrapper {
    background-size: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  #wrapper {
    background-size: 80%;
  }
}

@media only screen and (min-width: 1200px) {
  #wrapper {
    background-size: 60%;
  }
}
