@import "variables";
@import "mixins";
@import "hamburgermenu";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $mainFont;
}

section {
  padding: 50px 1rem 1rem 1rem;
  height: 100vh;
}

h3 {
  font-size: $titleSizeForsmallScreen;
  color: $gold;
  font-weight: 900;
}

p {
  font-size: $textSizeForsmallScreen;
}

//LANDINGPAGE-----------------------------
#wrapper {
  background-image: url(/assets/puppy.jpg);
  background-size: 150%;
  background-position: bottom;
  background-repeat: no-repeat;
  text-align: center;
  height: 100vh;

  #gradientOverlay {
    height: 100vh;
    width: 100%;
    background: rgb(255, 255, 255);
    @include whiteFadeBottom;
  }

  h1,
  h2 {
    font-family: $headingFont;
    font-size: 3rem;
  }

  h1 {
    padding-top: 4rem;
    @include delayedDisplay-2s;
  }
  h2 {
    @include glow;
    @include delayedDisplay-7s;
  }
}
//LANDINGPAGE-----------------------------

//WEATHERSECTION--------------------------
#weatherReport {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  article {
    text-align: center;
    text-transform: capitalize;

    img {
      height: 120px;
    }

    p {
      margin-bottom: 0.3rem;
      padding: 0 3rem;
    }

    #forecastHeader {
      p:nth-child(2) {
        @include backgroundGradientEdges;
      }
    }

    #forecastFooter {
      @include backgroundGradientEdges;
      margin-top: 1rem;
    }
  }
}

.dogWalkerMoving {
  @include dogWalker;
}
//WEATHERSECTION--------------------------

//DOG GENERATOR SECTION-------------------
#dogGenerator {
  text-align: center;
  position: relative;
  overflow: hidden;

  .pawprints {
    height: 300px;
    opacity: 0.6;

    &:nth-of-type(1) {
      position: absolute;
      bottom: -15%;
      left: 5%;
    }
    &:nth-of-type(2) {
      position: absolute;
      top: 35%;
      right: 5%;
      display: none;
    }
  }

  .firstPawprintAnimation {
    @include pawprintsFadeIn1;
  }

  #secondPawprintShowing {
    display: block;
    @include pawprintsFadeIn2;
  }

  //Gömmer tassavtrycken när man genererar hundbilder
  .pawprints.hide {
    display: none;
  }
}

#generateButton {
  padding: 0.3rem 3rem 0.3rem 3rem;
  margin: 0.9rem;
  cursor: pointer;
  background-color: $gold;
  box-shadow: 0px 0px 15px 2px rgb(76, 76, 76);
  border-style: none;
  border-radius: 50px;
  cursor: pointer;

  #diceImage {
    height: 50px;

    &:hover {
      @include rollDice;
    }
  }
}

#dogGeneratorContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  height: 70%;
  overflow: hidden;
}

.dogImage {
  height: 130px;
  border-radius: 5px;
}
//DOG GENERATOR SECTION-------------------

//MOVIE SECTION---------------------------
#movieSection {
  overflow: hidden;
  h3 {
    margin-bottom: 0.5rem;
  }
}

#movieContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  div {
    height: 260px;
    width: 155px;
    background-color: $subduedBlue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem;
    border-radius: 0.3rem;
    transition: ease 0.5s;
    color: white;

    &:hover {
      box-shadow: 0px 5px 17px 2px rgba(8, 23, 51, 1);
      cursor: pointer;
      transform: scale(1.1);
    }

    h4 {
      text-align: center;
      font-size: 1rem;
    }

    img {
      width: 80%;
      border-radius: 0.2rem;
      box-shadow: 0px 5px 14px -2px rgba(8, 23, 51, 1);
      margin-bottom: 0.8rem;
    }
  }
}

.modal-content {
  p {
    font-size: 1rem;
  }
}
//MOVIE SECTION---------------------------

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  margin-top: 1rem;
  background-color: $blue;
}

/* MEDIAQUERY */
@media (min-width: 480px) {
  #wrapper {
    background-size: 170%;
  }
}

@media only screen and (min-width: 600px) {
  #wrapper {
    background-size: 100%;
  }

  #movieSection {
    display: flex;
    flex-direction: column;
    #movieContainer {
      height: 70%;
      align-self: center;
      gap: 2rem;
    }
  }
}

@media only screen and (min-width: 1024px) {
  #wrapper {
    background-size: 90%;
  }

  #movieContainer {
    div {
      height: 350px;
      width: 210px;
    }
  }
}

@media only screen and (min-width: 1200px) {
  #wrapper {
    background-size: 60%;
  }
}
